<form [formGroup]="form"
      class="w-100"
      (ngSubmit)="handleSubmit()">

  <div class="w-100"
       fxLayout="row"
       fxLayout.lt-md="column"
       fxLayoutGap="20px"
       fxLayoutAlign="start stretch">
    <mat-form-field fxFlex="1 grow">
      <input matInput
             tabindex="1"
             formControlName="distance"
             placeholder="Distance"
             type="number" />
    </mat-form-field>

    <mat-form-field fxFlex="1 grow">
      <mat-select matInput
                  tabindex="2"
                  formControlName="units"
                  placeholder="Units"
                  required>
        <mat-option [value]="'mi'">mi</mat-option>
        <mat-option [value]="'km'">km</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="1 grow">
      <input matInput
             tabindex="3"
             formControlName="minutes"
             placeholder="Minutes"
             type="number"
             required
             pattern="[0-9]*" />
    </mat-form-field>

    <mat-form-field fxFlex="1 grow">
      <input matInput
             tabindex="4"
             formControlName="seconds"
             placeholder="Seconds"
             type="number"
             pattern="[0-9]*" />
    </mat-form-field>
  </div>

  <button mat-button
          mat-raised-button
          color="accent"
          type="submit">Calculate</button>
</form>

<mat-table #table
           [dataSource]="dataSource"
           matSort
           class="mat-elevation-z8 results-table">

  <ng-container matColumnDef="distance">
    <mat-header-cell *matHeaderCellDef
                     mat-sort-header>Distance</mat-header-cell>
    <mat-cell *matCellDef="let element">{{getName(element)}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="time">
    <mat-header-cell *matHeaderCellDef
                     mat-sort-header>Time</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.minutes}}:{{element.seconds}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>