.container {
  min-height: 100%;
  width: 100%;
}

.button {
  height: 20vh;
}

.red {
  background: red;
}

.yellow {
  background: yellow;
}

.green {
  background: green;
}

.blue {
  background: blue;
}
