@import '../vars.scss';

.header {
  display: flex;
  align-items: center;
  flex-direction: column;

  .title {
    margin-top: $app-padding;
    color: $font-primary-color;
    font-size: 2vw;
    font-family: roboto;
  }

  .blocks {
    margin-top: 20vh;
    height: $block-size;
    width: $block-size;
  }
}

@media only screen and (max-width: 900px) {
  .title {
    font-size: 4vw !important;
  }
}
