@import '~@angular/material/theming';

// include once per project
@include mat-core();

// import custom theme
@import 'my-theme.scss';

.my-theme {
  @include angular-material-theme($my-theme);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.mg-l-20 {
  margin-left: 20px;
}

.mg-t-20 {
  margin-top: 20px;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-20 {
  width: 20%;
}
